---
- name: Containerd | Ensure containerd required directory exist
  file:
    path: "{{ item }}"
    state: directory
    mode: "u+rw,g+r,o+r"
  with_items:
    - "{{ containerd_release_dir }}"
    - "{{ containerd_config_dir }}"

- name: Containerd | Download runc
  get_url:
    url: "{{ runc_release_url }}"
    mode: 0755
    dest: "{{ bin_dir }}/runc"
    force: true
  notify: restart containerd

- name: Containerd | Download binaries
  unarchive:
    src: "{{ containerd_release_url }}"
    dest: "{{ containerd_release_dir }}"
    remote_src: true
  notify: restart containerd

- name: Containerd | Drop systemd unit
  template:
    src: containerd.service.j2
    dest: /etc/systemd/system/containerd.service
    mode: 'u+rw,g+r,o+r'
  notify: restart containerd

- name: Containerd | Drop containerd config
  template:
    src: config.toml.j2
    dest: /etc/containerd/config.toml
    mode: 'u+rw,g+r,o+r'
  notify: restart containerd

- name: Containerd | List containerd binaries
  find:
    paths: "{{ containerd_release_dir }}/bin"
  register: containerd_binaries
  notify: restart containerd

- name: Containerd | Symlink containerd binaries
  file:
    src: "{{ item.path }}"
    dest: "{{ bin_dir }}/{{ item.path | basename }}"
    state: link
  with_items: "{{ containerd_binaries.files }}"
  notify: restart containerd

- name: Containerd | Trigger "restart containerd" handler
  meta: flush_handlers

- name: Containerd | Enable Containerd unit
  systemd:
    name: containerd.service
    state: started
    enabled: true
